@charset "UTF-8";

/*doc
---
title: index
name: index
category: index
---



```html_example



```

*/

// @ Config & Mixins
// ------------------------------------------------------------

@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "../../bower_components/font-awesome/scss/variables";
@import "./variable";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../../bower_components/font-awesome/scss/mixins";
@import "./mixins/mixin";

/* ============================================================ //
// @ base styles
// ============================================================ */

@import "./base/normalize";
@import "./base/reset";
@import "./base/global";
@import "./base/fonts";


/* ============================================================ //
// @ components
// ============================================================ */

@import "./components";

/* ============================================================ //
// @ original stylesheets
// ============================================================ */

// @ Base
// ------------------------------
@import "./base/container";

// @ Module
// ------------------------------
@import "./module/_parts";
@import "./module/_module";
@import "./module/_nav";
@import "./module/_visual";
@import "./module/_form";

// @ Layout
// ------------------------------
@import "./layout/_footer";
@import "./layout/_header";
@import "./layout/_sidebar";
@import "./layout/top";

// @ Tools
// ------------------------------
@import "./tools/text";
@import "./tools/margin";
@import "./tools/padding";
@import "./tools/width";
@import "./tools/visible";
@import "./tools/color";
@import "./tools/util";

/* ============================================================ //
// @ media querys
// ============================================================ */