/* ============================================================ //
// @ navigation style
// ============================================================ */

/* @ global nav
// ------------------------------------------------------------ */

.gnav {
  background: $brand-main;
  @include max-media($screen-md){
    padding:0 10px;
  }
  &__heading{
    display: none;
    @include max-media($screen-md){
      display: block;
      margin: 1em 0 1em 28px;
      border-left: 3px solid $brand-main-lighter;
      padding-left: .5em;
      font-size: 18px;
      margin-left: 28px;
    }
    @include max-media($screen-sm){
      margin: 1em 0 1em .5em;
    }
  }
  &__body {
    display: flex;
    -js-display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    list-style: none;
    @include max-media($screen-sm){
      padding-left: 0;
      padding-right: 0;
    }
  }
  &__item {
    position: relative;
    text-align: center;
    flex-grow: 1;
    line-height: 1;
    @include max-media($screen-md){
      width: 100%;
      text-align: left;
    }
  }
  &__item a {
    display: block;
    padding: 14px 0 13px;
    font-size: 15px;
    font-family:$font-family-sawarabi;
    color: #fff;
    @include max-media($screen-md){
      display: block;
      padding: 16px 0 14px;
      border-bottom:1px solid #ccc;
      width: 100%;
      color: $text-color;
      font-size: 16px;
    }
    @include link-hover();
    &:link,
    &:active,
    &:hover,
    &:visited,
    &:focus {
      text-decoration: none;
      color: #fff;
      @include max-media($screen-md){
        color: $text-color;
      }
    }
  }
  &__item a:before{
    @include max-media($screen-md){
      @include fa-icon();
      content: '';
      padding:0 .5em;
      color: $brand-main;
      opacity:.8;
    }
  }
  &__item:before {
    display: block;
    top: 12px;
    left: 0;
    position: absolute;
    content: "";
    width: 1px;
    height: 20px;
    background: #fff;
  }
  &__item:last-child:after {
    display: block;
    position: absolute;
    top: 12px;
    right: 0;
    content: "";
    width: 1px;
    height: 20px;
    background: #fff;
  }
}



