/* ============================================================ //
// @ main visual
// ============================================================ */

//mytodo : ぎっとぎすとするよ

/* @ slider pro overwrite
// ------------------------------------------------------------ */

.main-slider-container{
  overflow: hidden;
  width: 100%;
  min-width:1100px;
  @include max-media($screen-md){
    min-width:100%;
  }
  &__inner{
    max-width:1000px;
    margin:0 auto;
    overflow: visible;
    @include max-media($screen-md){
      min-width:100%;
    }
  }
  .main-slider{
    overflow: visible;
  }
  .sp-slide{
    background: #000;
    &:not(.sp-selected) .sp-image{
      opacity: .5;
    }
  }
  .sp-mask{
    overflow: visible;
  }
}

/*doc
---
title: キービジュアル 画像
name: key-visual-image
category: key-visual
---



```html_example

<section class="container--full key-visual key-visual-layer">
  <!--<section class="container--full key-visual key-visual-layer" style="background-image: url("./img/hoge/fuga.jpg");">-->
  <!-- ↑上記の様な指定で背景画像を変更することができます。  -->
  <div class="container__inner--sp-full">
    <div class="key-visual-image">
      <img src="https://placehold.jp/1000x200.png" alt="ダミー">
    </div>
  </div>
</section>

```

*/


.key-visual-layer{
  position: relative;
  background: url("../img/common/key-visual.jpg") center center no-repeat;
  background-size:cover ;
  &:before{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin:auto;
    width: 100%;
    height: auto;
    content: '';
    background:  rgba(0,0,0,.5);
  }
}
.key-visual-image{
  position: relative;
  z-index: 5;
  width: 100%;
  max-width: 100%;
  img{
    width: 100%;
    vertical-align: bottom;
  }
}




/* ============================================================ //
// @ key visual
// ============================================================ */

/* ============================================================ //
// @ breadcrumb
// ============================================================ */