<a class="to-top js-to-top" href="#"></a>
<footer class="container--full footer">
  <div class="container__inner">
    <p class="f-copy">Copyright © <script type="text/javascript">document.write(new Date().getFullYear());</script> Ashglow All rights reserved.</p>
  </div>
</footer>
</body>
</html>