<%
if (typeof page === 'undefined') {
  var page = {
    prepro:'',
    sync:'',
    trackPdf:'',
    guitarPdf:''
  };
}
%>
<section class="block-secondary">
  <aside class="side-module side-bnr-group">
    <h2 class="side-heading01">Data</h2>
    <div class="btn-group-vertical w100p">
    <% if(page.prepro){ %>
    <a href="<%= page.prepro %>" class="btn btn02--primary btn-block" target="_blank">プリプロ音源</a>
    <% }if(page.sync){ %>
    <a href="<%= page.sync %>" class="btn btn02--success btn-block" target="_blank">同期データ</a>
    <% }if(page.trackPdf){ %>
    <a href="<%= page.trackPdf %>" class="btn btn02 btn-block" target="_blank">トラックシートPDF</a>
    <% }if(page.trackPdf){ %>
    <a href="<%= page.guitarPdf %>" class="btn btn02--warning btn-block" target="_blank">リードギターPDF</a><% } %>
    </div>
  </aside>
  <aside class="side-module side-list-group">
    <h2 class="side-heading01">Trucks</h2>
    <ul class="side-list-body">
      <li class="side-list-item"><a href="./realize.html">Realize</a></li>
      <li class="side-list-item"><a href="./beyond.html">Beyond</a></li>
      <li class="side-list-item"><a href="./appearlance.html">Appear lance</a></li>
    </ul>
  </aside>
</section>







