/* ============================================================ //
// @ layout container
// ============================================================ */

.container--full {
  width: 100%;
  min-width: 1200px;
  @include max-media($screen-md){
    min-width: 100%;
    //overflow-x: hidden;
  }
}

.container{
  width: 100%;
  max-width: 100%;
}

/* @ メインコンテナー
// ------------------------------ */

.top-main-container{
  //margin-top: 600px;
  margin-top:100vh;
  background: #fff;
  position: relative;
  z-index: 1;
  @include max-media($screen-md){
    margin-top: 63%;
    position: relative;
  }
  @include max-media($screen-sm){
    margin-top: 62%;
    position: relative;
    top:$header-hight;
  }
}

.main-container{
  margin-top: 85px;
  margin-bottom: 80px;
  @include max-media($screen-md){
    margin-top: 50px;
    margin-bottom: 50px;
  }
}


/* @ 汎用コンテナ
// ------------------------------ */


.container__inner {
  margin: 0 auto;
  padding: 0 130px;
  width: 100%;
  min-width: 1200px;
  max-width:1200px;
  @include max-media($screen-md){
    padding:0 4%;
    min-width:100%;
  }
}
//
//.container__inner--sp-full {
//  margin: 0 auto;
//  padding: 0 50px;
//  width: 100%;
//  max-width: 1400px;
//  //@include max-media($screen-md) {
//  //  max-width: 100%;
//  //  padding: 0 20px;
//  //}
//  //@include max-media($screen-sm) {
//  //  padding: 0;
//  //}
//}
//
//.container__inner--md-full {
//  margin: 0 auto;
//  padding: 0 50px;
//  width: 100%;
//  max-width: 1400px;
//  //@include max-media($screen-md) {
//  //  max-width: 100%;
//  //  padding: 0;
//  //}
//}
//
//.section-container {
//  margin: 0 auto;
//  width: 100%;
//  min-width: 1400px;
//  margin-bottom: 80px;
//  //@include max-media($screen-md) {
//  //  max-width: 100%;
//  //  min-width: 100%;
//  //  margin-bottom: 50px;
//  //
//  //}
//  //@include max-media($screen-sm) {
//  //  margin-bottom: 50px;
//  //}
//}
//
//.main-content__inner {
//  margin: 0 auto;
//  padding: 50px 105px;
//  width: 100%;
//  max-width: 1400px;
//  //@include max-media($screen-md) {
//  //  max-width: 100%;
//  //  padding: 30px 20px;
//  //}
//  //@include max-media($screen-md) {
//  //  padding: 20px 3%;
//  //}
//}
//
//.section-unit{
//  padding: 50px 0;
//  &:first-child{
//    padding-top: 0;
//  }
//  //@include max-media($screen-md){
//  //  padding: 40px 0;
//  //}
//  //@include max-media($screen-sm){
//  //  padding: 30px 0;
//  //}
//

// @ ブロックコンテナー
// ------------------------------
.block-group{
  display: flex;
  -js-display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  
}
.block-primary{
  @include perwidth(940,650);
  @include max-media($screen-md){
    width: 100%;
    margin-bottom: 80px;
  }
}
.block-secondary{
  @include perwidth(940,240);
  
  @include max-media($screen-md){
    width: 100%;
  }
}

