/* ============================================================ //
// @ layout container
// ============================================================ */

.container--full {
  width: 100%;
  min-width: 1200px;
  @include max-media($screen-md){
    min-width: 100%;
    //overflow-x: hidden;
  }
}

.container{
  width: 100%;
  max-width: 100%;
}

/* @ メインコンテナー
// ------------------------------ */

.top-main-container{
  //margin-top: 600px;
  margin-top:100vh;
  background: #fff;
  position: relative;
  z-index: 1;
  @include max-media($screen-md){
    margin-top: 63%;
    position: relative;
  }
  @include max-media($screen-sm){
    margin-top: 62%;
    position: relative;
    top:$header-hight;
  }
}

.main-container{
  margin-top: 85px;
  margin-bottom: 80px;
  @include max-media($screen-md){
    margin-top: 50px;
    margin-bottom: 50px;
  }
}


/* @ 汎用コンテナ
// ------------------------------ */


.container__inner {
  margin: 0 auto;
  padding: 0 130px;
  width: 100%;
  min-width: 1200px;
  max-width:1200px;
  @include max-media($screen-md){
    padding:0 4%;
    min-width:100%;
  }
}
// @ ブロックコンテナー
// ------------------------------

