/* ============================================================ //
// @ blockquote
// ============================================================ */

/*doc
---
title: ボックス
name: box
category: box
---



```html_example

```

*/


.blockquote{
  position: relative;
  background: #f8f8f8;
  margin: 2em 0;
  padding: 1.5em 2.5em 1.5em 2.5em;
  color: $text-color;
  &:before{
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    content: '';
    width: 2px;
    height: 100%;
    background: #ccc;
  }
}
.blockquote-cite{
  position: relative;
  display: block;
  text-align: right;
  color: #999;
  &:before{
    display: inline-block;
    position: relative;
    width: 13px;
    height: 1px;
    content: '';
    top: -5px;
    background: #999;
    left: -4px;
  }
}
