/* ============================================================ //
// @ grid
// ============================================================ */

.grid-group{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
  @include max-media($screen-sm){
    align-items:flex-start;
  }
  .grid--col02{
    width: 50%;
    @include max-media($screen-sm){
      width: 100%;
    }
    > *:first-child{
      margin-top: 0;
    }
  }
}


.sample-grid-dummuy{
  background: $brand-success;
  box-sizing: border-box;
  border:3px solid #fff;
  border-radius: 7px;
  padding:.5em 0;
  color: #fff;
  font-weight: bold;
  text-align: center;
}

/*doc
---
title: grid-extension
name: grid-extension
category: grid
---

<h3 class="sg-pattern-title"> sectionTitle </h3>

```html_example

<h5 class="heading05">左寄せ</h5>
<div class="row">
  <div class="col-xs-12">
    <figure class="grid-img--left"><img src="https://placehold.jp/250x150.png" alt=""></figure>
    <div class="text-unit">
      <p>あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。
        またそのなかでいっしょになったたくさんのひとたち、ファゼーロとロザーロ、羊飼のミーロや、顔の赤いこどもたち、地主のテーモ、山猫博士のボーガント・デストゥパーゴなど、いまこの暗い巨きな石の建物のなかで考えていると、みんなむかし風のなつかしい青い幻燈のように思われます。では、わたくしはいつかの小さなみだしをつけながら、しずかにあの年のイーハトーヴォの五月から十月までを書きつけましょう。</p>
      <p>あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。
        またそのなかでいっしょになったたくさんのひとたち、ファゼーロとロザーロ、羊飼のミーロや、顔の赤いこどもたち、地主のテーモ、山猫博士のボーガント・デストゥパーゴなど、いまこの暗い巨きな石の建物のなかで考えていると、みんなむかし風のなつかしい青い幻燈のように思われます。では、わたくしはいつかの小さなみだしをつけながら、しずかにあの年のイーハトーヴォの五月から十月までを書きつけましょう。</p>
    </div>
  </div>
</div>
<hr>
<h5 class="heading05">右寄せ</h5>
<div class="row">
  <div class="col-xs-12">
    <figure class="grid-img--right"><img src="https://placehold.jp/250x150.png" alt=""></figure>
    <div class="text-unit">
      <p>あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。
        またそのなかでいっしょになったたくさんのひとたち、ファゼーロとロザーロ、羊飼のミーロや、顔の赤いこどもたち、地主のテーモ、山猫博士のボーガント・デストゥパーゴなど、いまこの暗い巨きな石の建物のなかで考えていると、みんなむかし風のなつかしい青い幻燈のように思われます。では、わたくしはいつかの小さなみだしをつけながら、しずかにあの年のイーハトーヴォの五月から十月までを書きつけましょう。</p>
      <p>あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。
        またそのなかでいっしょになったたくさんのひとたち、ファゼーロとロザーロ、羊飼のミーロや、顔の赤いこどもたち、地主のテーモ、山猫博士のボーガント・デストゥパーゴなど、いまこの暗い巨きな石の建物のなかで考えていると、みんなむかし風のなつかしい青い幻燈のように思われます。では、わたくしはいつかの小さなみだしをつけながら、しずかにあの年のイーハトーヴォの五月から十月までを書きつけましょう。</p>
    </div>
  </div>

```

imgタグの親要素に
<ul>
    <li>grid-img</li>
    <li>grid-img--left</li>
    <li>grid-img--right</li>
    <li>grid-img--center</li>
  </ul>
などのクラスを付与するとグリッド内の要素に対してマージンやフロートを付与することができます。

*/


.grid-img{
  margin-bottom: 1em;
}
.grid-img--left{
  margin:0 1em 1em 0;
  float: left;
  @include max-media($screen-sm){
    margin:0 auto 1em;
    float: none;
    text-align: center;
  }
}
.grid-img--right{
  margin:0 0 1em 1em;
  float: right;
  @include max-media($screen-sm){
    margin:0 auto 1em;
    float: none;
    text-align: center
  }
}
.grid-img--center{
  margin:0 auto 1em;
  text-align: center;
}
