<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title itemprop="name">title</title>
  <!-- Standard SEO -->
  <meta name="description" content="xxxx">
  <meta name="keywords" content="sss">

  <!-- Facebook OpenGraph -->
  <meta property="fb:profile_id" content="">
  <meta property="fb:app_id" content="">

  <meta property="og:title" content="">
  <meta property="og:description" content="">
  <meta property="og:url" content="">
  <meta property="og:locale" content="ja_JP">
  <meta property="og:image" content="http://example.com/img/ogp/ogp.jpg">
  <meta property="og:image:type" content="image/jpeg">
  <meta property="og:image:width" content="200">
  <meta property="og:image:height" content="150">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="">

  <!-- favicons -->
  <link rel="apple-touch-icon" sizes="60x60" href="/img/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/img/favicons/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/img/favicons/favicon-16x16.png" sizes="16x16">

  <!-- stylesheets -->
  <link rel="stylesheet" href="./css/style.css" media="all">
  <link rel="stylesheet" href="./css/lib/slider-pro/slider-pro.css" media="all">
  <link rel="stylesheet" href="./css/lib/hiraku/hiraku.css" media="all">
  <link href="https://fonts.googleapis.com/earlyaccess/sawarabimincho.css" rel="stylesheet"/>

  <!-- scripts -->
  <script src="./js/jquery.js"></script>
  <script src="./js/vender.js"></script>
  <script src="./js/common.js"></script>
  <script src="./js/index.js"></script>
  <!--plugins-->
  <script src="./js/jquery.sliderPro.min.js"></script>
  <script src="./js/hiraku.min.js"></script>

</head>
<body>
<!--[if lt IE 10]>
<div class="ie-prompt">
  <p>お使いのブラウザはバージョンが古いため、サイトを快適にご利用いただけないかもしれません。<br>
    <a href="http://www.whatbrowser.org/intl/ja/">新しいブラウザをお試しできます。
      ブラウザは無料、インストールも簡単です。</a>
  </p>
</div>
<![endif]-->
<h1>Hellow World!!</h2>
</body>
</html>