<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= @config['styleguide_name'] %><% if title %> · <%= title %><% end %></title>
    <link rel="stylesheet" href="./css/styleguide.css">
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://fonts.googleapis.com/earlyaccess/sawarabimincho.css" rel="stylesheet"/>

    <!-- scripts -->
    <script src="../js/jquery.js"></script>
    <script src="../js/vender.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/index.js"></script>
    <!--plugins-->
    <script src="../js/jquery.sliderPro.min.js"></script>
    <script src="../js/hiraku.min.js"></script>
    <script src="../js/tile.js"></script>

  </head>
  <body>
    <header class="styleguide_header">
      <h1 class="styleguide_brand">
        <%= @config['styleguide_name'] %>
      </h1>
      <nav class="styleguide_nav">
        <ul class="styleguide_nav--lists">
          <% @categories.each do |category| %>
            <li class="styleguide_nav--list">
              <a href="<%= category[1] %>"><%= category[0] %></a>
            </li>
          <% end %>
        </ul>
      </nav>
    </header>
    <article class="styleguide_article container__inner">
      <% if title %>
        <h1>
          <%= title %>
        </h1>
        <ul>
          <% @blocks.each do |block| %>
            <li><a href="#<%= block[:name] %>"><%= block[:title] %></a></li>
          <% end %>
        </ul>
      <% end %>
      <div class="styleguide_content">
