/* ============================================================ //
// @ module
// ============================================================ */

// @ loader
// ------------------------------------------------------------

.loader-layer{
  overflow: hidden;
  position: fixed;
  z-index: 100000;
  top: 0;
  left: 0;
  background: #fff;
  width: 100%;
  height:100vh;
  &__container{
  position: absolute;
  top:47%;
  left:50%;
  transform: translate(-50%, -50%);
    text-align: center;
  }
}
.loader{
  margin-left: 30px;
}

.loader-layer__logo{
  display: none;
  width: 140px;
  vertical-align: bottom;
  .is-active &{
    display: block;
  }
}

