/*--------------------------------------------------------------//
// @ table
// ------------------------------------------------------------ */

/*doc
---
title: テーブル01
name: table01
category: table
---


```html_example

  <div class="table01">
  <table>
    <tr>
      <th>タイトル</th>
      <td>ダミーテキスト</td>
    </tr>
    <tr>
      <th>タイトル</th>
      <td>ダミーテキスト</td>
    </tr>
    <tr>
      <th>タイトル</th>
      <td>ダミーテキスト</td>
    </tr>
  </table>
</div>

```

*/

$table-bdc : #ccc;

%table-base {
    width: 100%;
    table-layout: auto;
    margin:3em 0;
  th,td{
    padding: 1em .8em .9em;
    vertical-align: top;
  }
  th {
  }
  
  td {
  }
  
  tr,
  td,
  th {
    }
  
}


.table01{
  @extend %table-base;
  width: 100%;
  min-width:100%;
  tbody{
    width: 100%;
  }
  tr{
    width: 100%;
  }
  tr,th,td{
    @include max-media($screen-sm){
      display: block;
      width: 100%;
    }
  }
  th,td{
    border-bottom:1px solid;
  }
  th{
    position: relative;
    min-width: 100px;
    text-align: left;
    border-color:#888;
    @include max-media($screen-sm){
      max-width:100%;
      background: #eee;
      border: none;
    }
  }
  td{
    border-color: $table-bdc;
    @include max-media($screen-sm){
      //border-color:#888;
      border: none;
    }
  }
}


/*doc
---
title: スクロールテーブル
name: table--scroll
category: table
---


```html_example

<div class="table01--scroll">
  <table>
    <tr>
      <th>ダミータイトル</th>
      <td>ダミーテキストです。ご了承ください。ダミーテキストです。ご了承ください。ダミーテキストです。ご了承ください。</td>
    </tr>
    <tr>
      <th>ダミータイトル</th>
      <td>ダミーテキストです。ご了承ください。ダミーテキストです。ご了承ください。ダミーテキストです。ご了承ください。</td>
    </tr>
  </table>
</div>

```

*/

.table01--scroll{
  
  @extend %table-base;
  overflow-x: scroll;
  white-space: nowrap;
  
    &:before {
      @include max-media($screen-sm){
      @include fa-icon();
      text-align: center;
      display: block;
      font-size: 12px;
      content: "#{$fa-var-arrows-h}　この表は左右に動かせます。";
      padding-bottom: 5px;
      }
    }
    
    width: 100%;
    min-width:100%;
    tbody{
      width: 100%;
    }
    tr{
      width: 100%;
    }
    
    th,td{
      border-bottom:1px solid;
    }
    th{
      position: relative;
      min-width: 100px;
      text-align: left;
      border-color:#888;
    
    }
    td{
      border-color: #ccc;
    }

}


/*doc
---
title: テーブル02
name: table02
category: table
---


```html_example

<div class="table02">
  <table>
    <tr>
      <th>商品名</th>
      <td>ヴィトン Ｍ40007</td>
    </tr>
    <tr>
      <th>買取価格</th>
      <td>34,000円</td>
    </tr>
    <tr>
      <th>取扱店舗</th>
      <td>リサイクルマート 中洲店</td>
    </tr>
  </table>
</div>

```

*/

.table02{
  @extend %table-base;
  table{
    margin:1em 0 2em;
  }
  th,td,tr{
    @include max-media($screen-sm){
      display: block;
    }
  }
  th,td{
    border-top: none;
    border-right:none;
    border-left:none;
    
  }
  th{
    background: transparent;
    color:$text-color;
  }
  td{
    border-right:1px solid $table-bdc;
  }
  
  tr{
    @include max-media($screen-sm){
      margin-bottom: 1em;
    }
  }
}

.table02.table02-auto-width{
  table{
    width:auto;
    @include max-media($screen-sm){
      width: 100%;
    }
  }
}

// @ オプション
// ------------------------------------------------------------
$zebra-even:#f9f9f9;
$table-highlight:#666;

.table--zebra{
  tbody tr:nth-child(even){
    background: $zebra-even;
  }
}

.table-highlight{
  tbody tr{
    &:hover{
      opacity: $hover-opacity;
      background: $table-highlight;
      color: #fff;
    }
    
  }
}
