$img_path: "../../assets/img/";


// ============================================================ //
// @ main visual
// ============================================================ //


.main-visual{
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: url(#{$img_path}top/mv.jpg) center top no-repeat;
  background-size:cover!important;
  width: 100%;
  //height: 550px;
  height:85vh;
  @include max-media($screen-md){
    background: url(#{$img_path}top/mv.jpg) center bottom no-repeat;
    background-size:contain;
    padding-top: 63%;
    height:0;
  }
  @include max-media($screen-sm){
    padding-top: 75%;
    //padding-top: 162%;
    //height:0;
    //margin-top: $header-hight;
    //background: url(#{$img_path}top/mv-sp.jpg) center top no-repeat;
    //background-size:cover;
  }
}


// ============================================================ //
// @ key visual
// ============================================================ //

.key-visual{
  width: 100%;
  min-width: 1200px;
  height: 180px;
  background: url(#{$img_path}top/section_media_bg.jpg) center center no-repeat;
  background-size: cover;
  margin-bottom: 50px;
  @include max-media($screen-md) {
    min-width: 100%;
    height: 150px;
    overflow-x: hidden;
  }
  @include max-media($screen-sm){
    height: 140px;
  }
  &__inner{
    position: relative;
    height: 100%;
    margin: 0 auto;
    padding: 0 130px;
    width: 100%;
    min-width: 1200px;
    max-width:1200px;
    @include max-media($screen-md){
      padding:0 4%;
      min-width:100%;
    }
  }
  &__unit{
    position: absolute;
    top:50%;
    transform: translate(0%, -50%);
  }
  &__title {
    @include text-overflow;
    @include fzem(24, 15);
    @include max-media($screen-md) {
      @include fzem(20, 14);
    }
    @include max-media($screen-sm) {
      @include fzem(18, 14);
    }
  }
  
  &__sub {
    position: relative;
    padding-left: 15px;
    @include text-overflow;
    @include fzem(13, 15);
    &:before{
      position: absolute;
      top:50%;
      left:0%;
      transform: translate(0%, -50%);
      display: inline-block;
      content: '';
      width: 10px;
      height: 1px;
      background:$text-color;
      @include max-media($screen-sm){
        width: 5px;
      }
    }
    @include max-media($screen-md) {
      
      @include fzem(13, 14);
    }
    @include max-media($screen-sm) {
      padding-left: 10px;
      @include fzem(13, 14);
    }
  }
}


// ============================================================ //
// @ breadcrumb
// ============================================================ //