
*{
  box-sizing: border-box;
}
html{
  margin: 0;
  padding: 0;
  line-height:$line-height-base;
  font-size:$font-size-base;
  font-family:$font-family-base;
  font-weight: normal;
  color: $text-color;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include max-media($screen-md){
    font-size:$font-size-base-tab;
  }
  @include max-media($screen-sm){
    font-size:$font-size-base-sp;
  }
}
body{
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  @include max-media(1100px){
    overflow-x: visible;
  }
  @include max-media($screen-md){
    margin-top: 60px;
    overflow-x: hidden;
  }
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
  line-height:1.4em;
}
p{
  margin:0 0 1em 0;
}

