// ============================================================ //
// @ footer visual
// ============================================================ //

.footer{
  padding:30px 0;
  background: #333;
  @include max-media($screen-sm){
    position: relative;
    z-index: 2;
    margin-top: 50px;
  }
}

.f-copy{
  text-align: center;
  color: #fff;
  font-size: 12px;
  line-height: 1;
  margin-bottom: 0;
}

