/*--------------------------------------------------------------//
// @ text align
// ------------------------------------------------------------ */

/* @ text state
// ------------------------------------------------------------ */

.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}

.text-bold {
  font-weight: bold !important;
}

.text-normal {
  font-weight: normal !important;
}

.nowrap {
  white-space: nowrap !important
}

/* @ font size
// ------------------------------------------------------------ */

/* 文字サイズ */
.fs08 {
  font-size: .8em !important
}

.fs09 {
  font-size: .9em !important
}

.fs11 {
  font-size: 1.1em !important
}

.fs12 {
  font-size: 1.2em !important
}

.fs12_5 {
  font-size: 1.25em !important
}

.fs13 {
  font-size: 1.3em !important
}

.fs14 {
  font-size: 1.4em !important
}

.fs15 {
  font-size: 1.5em !important
}

.fs16 {
  font-size: 1.6em !important
}

.fs17 {
  font-size: 1.7em !important
}

.fs18 {
  font-size: 1.8em !important
}

.fs19 {
  font-size: 1.9em !important
}

.fs20 {
  font-size: 2.0em !important
}

.fs24b {
  font-size: 2.4em;
  font-weight: bold;
  line-height: 1em
}

.fs40b {
  font-size: 4.0em;
  font-weight: bold;
  line-height: 1em
}

/* @ line-height
// ------------------------------------------------------------ */


.lh1 {
  line-height: 1 !important
}

.lh12 {
  line-height: 1.2 !important
}

.lh14 {
  line-height: 1.4 !important
}

.lh16 {
  line-height: 1.6 !important
}

.lh18 {
  line-height: 1.8 !important
}

.lh20 {
  line-height: 2 !important
}
