/* ============================================================ //
// @ utility
// ============================================================ */

// @ float
// ------------------------------------------------------------

.flr {
  float: right !important
}

.fll {
  float: left !important
}

.fln {
  float: none !important
}

.clb {
  clear: both !important
}

.cln {
  clear: none !important
}
