/* ============================================================ //
// @ footer visual
// ============================================================ */

.footer{
  position: relative;
}


/* @ fixed footer nav
// ------------------------------------------------------------ */
.fixed-fnav{
  position: fixed;
  z-index: 9999;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,.5);
  padding:10px 0;
  
  &__wrap{
    position: relative;
  }
  &__body{
    display: flex;
    -js-display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    width: 100%;
    @include max-media($screen-md){
      padding-right: 80px;
    }
  }
  &__item{
    margin-right:10px;
    &:last-child{
      margin-right: 0;
    }
  }
  &__item img{
    width: 100%;
    vertical-align: bottom;
  }
}


// @ to-top
// ------------------------------

.to-top{
  display: block;
  position: absolute;
  top:50%;
  right:30px;
  transform: translate(0%, -50%);
  text-align: center;
  margin-top: 10px;
  @include max-media($screen-sm){
    margin-top: 7px;
  }
  
  
  &:link,
  &:active,
  &:hover,
  &:visited,
  &:focus{
    color: #fff;
    text-decoration: none;
  }
  &__icon{
    font-size:35px;
    line-height: 0;
  }
  &__text{
    display: block;
    line-height: 1;
    font-family:$font-family-sawarabi;
    @include max-media($screen-sm){
      display: none;
    }
  }
}

/* @ footer nav
// ------------------------------------------------------------ */

.section-fnav{
  padding:45px 0;
  background: $brand-main-darker;
}

.fnav-grid-group{
  display: flex;
  -js-display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  @include max-media($screen-md){
    display: block;
    justify-content: center;
  }
}

// @
// ------------------------------

.fnav-store-info{
  @include perwidth(1000,470);
  display: flex;
  -js-display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  @include max-media($screen-md){
    width: 100%;
  }
  &__heading{
    margin-bottom: .8em;
  }
  &-item{
    @include perwidth(470,220);
    @include max-media($screen-sm){
      width: 80%;
      margin:15px auto 0;
      &:first-child{
        margin-top: 0;
      }
    }
  }
  &-item__text{
    padding-left: .2em;
    line-height: 1.4;
    color: #fff;
    font-size:.933333333em;
  }
  &-item__text a{
    color: #fff;
    text-decoration: underline;
  }
  
}

// @
// ------------------------------

.fnav-grid-nav{
  @include perwidth(1000,480);
  display: flex;
  -js-display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  @include max-media($screen-md){
    width: 80%;
    margin:0 auto;
  }
  @include max-media($screen-sm){
    width: 100%;
  }
}
.fnav-grid-nav-item{
  @include perwidth(480,160);
  padding-right: 1em;
  @include max-media($screen-md){
    width: 100%;
    padding-right: 0;
  }
}

.fnav-heading{
  margin-bottom: .5em;
  line-height: 1;
  font-size:1em;
  font-family:$font-family-sawarabi;
  color: #fff;
  @include max-media($screen-md){
    position: relative;
    text-align: center;
    margin:2em 0 1em;
    &:before{
      display: block;
      position: absolute;
      top:50%;
      left:50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 1px;
      content: "";
      background: #fff;
      opacity:.3;
    }
  }
  @include max-media($screen-sm){
    margin:1.5em 0 1em;
  }
  
  &__inner{
    @include max-media($screen-md){
      position: relative;
      display: inline-block;
      background: $brand-main-darker;
      padding:.2em 1em;
    }
  }
  @include max-media($screen-sm){
    width: 100%;
  }
}

.fnav-body{
  margin: 0;
  padding: 0;
  list-style: none;
}
.fnav-item{
  @include max-media($screen-md){
    display: inline-block;
    padding:0 1em;
  }
  @include max-media($screen-sm){
    padding:0 .5em;
  }
  a{
    line-height: 2;
    font-size:.866666667em;
    font-family:$font-family-sawarabi;
    @include link-hover();
    
    &:link,
    &:active,
    &:hover,
    &:visited,
    &:focus{
      color: #fff;
    }
    &:before{
      padding-right: .3em;
      @include fa-icon();
      content: '';
    }
  }
}

/* @ footer copy
// ------------------------------------------------------------ */

.section-fcopy{
  padding:25px 0 20px;
  background: $brand-main-darken;
}

.fcopy{
  text-align: center;
  &__logo{
    @include wdiv(520px);
    margin: 0 auto;
  }
  &__logo img{
    width: 100%;
    max-width: 100%;
  }
  &__text{
    margin-bottom: 0;
    padding-top: 1em;
    font-size: 10px;
    color: #fff;
    text-align: center;
  }
}
