/* ============================================================ //
// @ utility
// ============================================================ */

/* @ tel link
// ------------------------------------------------------------ */

/*doc
---
title: スマホのみ電話リンク
name: js-tel-link
category: utility
---

```html_example

<span class="js-tel-link">TEL：092-737-6577</span>

```

*/